<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Video</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Add Video</h1>
    </div>
    <form th:action="@{/added}" th:object="${video}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Title: </label>
                <div class="col-8">
                    <input type="text" th:field="*{title}" class="form-control" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Address: </label>
                <div class="col-8">
                    <input type="text" th:field="*{address}" class="form-control"
                           required minlength="2" maxlength="200"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Description: </label>
                <div class="col-8">
                    <input type="text" th:field="*{description}" class="form-control"
                           required minlength="2" maxlength="400" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Author: </label>
                <div class="col-8">
                    <input type="text" th:field="*{author}" class="form-control"
                           required minlength="2" maxlength="400" />
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>